# Normaliza os finais de linha para todos os arquivos de texto
* text=auto

# Força LF em arquivos de código e configs
*.cs text eol=lf
*.shader text eol=lf
*.asset text eol=lf
*.meta text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.txt text eol=lf

# Imagens e arquivos binários
*.png binary
*.jpg binary
*.jpeg binary
*.dll binary
