# Normaliza os finais de linha para todos os arquivos de texto
* text=auto

# Força LF em arquivos de código e configs
*.cs text eol=lf
*.shader text eol=lf
*.asset text eol=lf
*.meta text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.txt text eol=lf

# Ocultar arquivos de Shader e C/C++ das estatísticas de linguagem do GitHub
*.shader linguist-generated=true
*.shadergraph linguist-generated=true
*.hlsl linguist-generated=true
*.cginc linguist-generated=true
*.cpp linguist-generated=true
*.c linguist-generated=true
*.h linguist-generated=true
*.hpp linguist-generated=true

# Imagens e arquivos binários
*.png binary
*.jpg binary
*.jpeg binary
*.dll binary
